.quotes{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #444857;
    height: 43vh;
    h4{
        font-size: 1rem;
        color: white;
        font-weight: 400;
        font-family: 'Montserrat', sans-serif;

    }
}